
@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="py-3" style="margin-top:10%">
    <div class="container">
        <div class="row" style="background-color:#fff; margin:1px; padding:2rem">
            Chat
        </div>
    </div>
</section>

