
@{
    ViewBag.Title = "CreateAcc";
    
}

<div id="popup_createacc">
    <div class="row" style="margin-left:10rem;">
        <div class="offset-lg-3" style="padding-top:5rem;width:500px">
            <button id="btnClose" class="btn btn-default" style="float:right">
                <img src="~/Content/img/delete_50px.png" height="30" width="30" />
            </button>
            <div class="login-form" style="background-color:#fff; padding:2rem">
                <h3 class="text-center" style="margin-bottom:15px">Đăng Ký</h3>
                <form action="#">
                    <div class="group-input">
                        <label for="username">Tên người dùng</label>
                        <input type="text" required="" id="name">
                    </div>
                    <div class="group-input">
                        <label for="username">Tên đăng nhập</label>
                        <input type="text" required="" id="username">
                    </div>
                    <div class="group-input">
                        <label for="pass">Mật khẩu</label>
                        <input type="text" required="" id="pass">
                    </div>
                    <div class="group-input">
                        <label for="pass">Nhập lại mật khẩu</label>
                        <input type="text" required="" id="pass">
                    </div>
                    <div class="group-input">
                        <label for="username">Địa chỉ</label>
                        <input type="text" required="" id="diachi">
                    </div>
                    <div class="group-input">
                        <label for="username">Số điện thoại</label>
                        <input type="text" required="" id="sdt">
                    </div>

                    <button id="btnSubmit" class="site-btn login-btn">Registration</button>

                </form>
                <div class="switch-login">
                    <a href="#" class="or-login">Or Sign In</a>
                </div>
            </div>
        </div>
    </div>
</div>

