@model WebsiteRaoVat.Models.TaiKhoan
@{
    ViewBag.Title = "login";
}

<div id="popup_login">
    <div class="row" >
        <div class="col-lg-4 offset-lg-3" style="padding-top:5rem">
            <div class="login-form" style="background-color:#fff; padding:2rem"> 
                <button id="btnClose">X</button>
                <h2>Đăng nhập tài khoản </h2>
                <form action="#">
                    <div class="group-input">
                        <label for="username">Tên đăng nhập</label>
                        <input type="text" required="" id="username">
                    </div>
                    <div class="group-input">
                        <label for="pass">Mật khẩu</label>
                        <input type="text" required="" id="pass">
                    </div>
                    <div class="group-input gi-check">
                        <div class="gi-more">
                            <label for="save-pass">
                                Save Password
                                <input type="checkbox" id="save-pass">
                                <span class="checkmark"></span>
                            </label>
                            <a href="#" class="forget-pass">Forget your Password</a>
                        </div>
                    </div>
                    <button id="btnSubmit" class="site-btn login-btn">Sign In</button>
                </form>
                <div class="switch-login">
                    <a href="./register.html" class="or-login">Or Create An Account</a>
                </div>
            </div>
        </div>
    </div>
</div>


    <script>
        $("#btnSubmit").click(function () {
            DangNhap();           
        });
        function DangNhap() {
            if ($("#username").val() != "" && $('#pass').val() != "") {
                $.ajax({
                    type: 'get',
                    url: '/Login/KTDangNhap',
                    data: {
                        username: $("#username").val(),
                        password: $('#pass').val(),
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            if (data.thanhcong == 1) {
                                alert("Đăng nhập thành công");
                                window.location = "/Home/Index";
                            }
                            
                        }
                    }
                })
            }
            
        }
        $("#btnClose").click(function () {
            $("#popup_login").hide();
        });
    </script>




