@model IEnumerable<WebsiteRaoVat.Models.TaiKhoan>
@{
    ViewBag.Title = "thu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>thu</h2>

<div style="width:50px; height:50px;border:1px solid black"><img src="" /></div>
<a class="btn btn-danger" href="~/Login/DangXuat">Đăng xuất</a>
