
@{
    ViewBag.Title = "CreateYeuThich";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="py-3" style="margin-top:10%">
    <div class="container" id="frmDaiDang" style="width: 100%">
        

    </div>

</section>

@section Jsfooter{
    <script>
        $(document).ready(function () {
            Loaddata();
        });
        function Loaddata() {
            $.ajax({
                type: 'get',
                url: '/TinDang/getTinYT',
                success: function (data) {
                    $('#frmDaiDang').empty();
                    $.each(data.listBaiDang, function (k, v) {
                        var content = `<div class="row pn-product" style="background-color:#fff; margin:1px; padding:0.5rem; width:100%" >
           <div class="col-11" name="frmSP" id="` + v.MaBaiDang +`" > <div class="row"><div class="col-2" style="object-fit:fill; padding:0.5rem;">
                <img src="`+ v.HinhAnh + `" />
            </div>
            <div class="col-6" style="padding:0.5rem;">
                <h4 style="margin-bottom:5px">`+ v.TieuDe + `</h4>
                <h4 style="color:red; font-weight:700">`+ v.Gia + `</h4>
            </div></div></div>
            <div class="col-1" style="padding:0.5rem; float:right">
                <div class="icon" style="float:right;" name="frmyt" id="`+ v.MaBaiDang + `">
                    <i class="fa fa-heart" style="font-size:25px; color:red" ></i>
                </div>
            </div>
        </div>
    `;
                        $('#frmDaiDang').append(content);
                    });
                }
            })
        }
        $(document).on('click', 'div[name="frmyt"]', function () {
            $.ajax({
                type: 'post',
                url: '/TinDang/XoaTinYT',
                data: {
                    ma: $(this).attr("id")
                },
                success: function (data) {
                    if (data.code == 200) {
                        alert("Đã bỏ tin yêu thích");
                        Loaddata();
                    }

                }
            });
        });
        $(document).on('click', "div[name='frmSP']", function () {
            //alert($(this).attr('id'));
            window.location = '/Home/BaiDang/' + $(this).attr('id');

        });
    </script>
    }