@model WebsiteRaoVat.Models.BaiDang
@{
    ViewBag.Title = "BaiDang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="py-3">
    <div class="container">
        <div class="row" style="background-color:#fff; margin:1px; padding:1rem 3rem">

            
            
        </div>
        
    </div>

</section>

