
@{
    ViewBag.Title = "NotAuthorize";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="py-3" style="margin-top:10%">
    <div class="container">
        <div class="row" style="background-color:#fff; margin:1px; padding:3rem">
          
            <h5 class="text-center">Bạn không có quyền truy cập vào trang này. Vui lòng liên hệ với quản trị viên.</h5>
        </div>
    </div>
</section>

