
@{
    ViewBag.Title = "QuanLyTin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="py-3">
    <div class="container">
        <div class="row" style="background-color:#fff; margin:1px; padding:1rem 3rem">

            <div class="col-2" style="object-fit:cover; padding:0.5rem ">
                <img src="~/Images/img_avatar.png" style="border-radius: 50%" />
            </div>
            <div class="col-6" style="margin-top:2rem">
                <h4 style="font-weight:700; margin-bottom:0.5rem">
                    @ViewBag.TenNguoiDung
                </h4>
                <a href="#" style="color: cornflowerblue;font-size:18px">
                    Xem trang cá nhân của bạn
                </a>
            </div>
        </div>
        <div class="row" style="background-color:#fff;margin:1px;">
            <div class="col-3 text-center" style="padding:1rem;" >
                <button id="0" style="color:#252525;background-color:#fff; border:none" name="btnOption">
                    ĐANG HIỂN THỊ
                </button>
            </div>
            <div class="col-3 text-center" style="padding:1rem;">
                <button id="1" style="color:#252525;background-color:#fff; border:none" name="btnOption">
                    BỊ TỪ CHỐI
                </button>
            </div>
            <div class="col-3 text-center" style="padding:1rem;">
                <button id="2" style="color:#252525;background-color:#fff; border:none" name="btnOption">
                    ĐANG ĐỢI DUYỆT
                </button>
            </div>
            <div class="col-3 text-center" style="padding:1rem;">
                <button id="3" style="color:#252525;background-color:#fff; border:none" name="btnOption">
                    ĐÃ ẨN
                </button>
            </div>
        </div>
    </div>

</section>
<section class="py-0" >
    <div class="container">
        <div class="row" style="background-color:#fff; margin:1px; padding:1rem 3rem" id="frmDaiDang">

                      
        </div>
        
    </div>

</section>
<script>
    $(document).on('click', "button[name = 'btnOption']", function () {
        //alert($(this).attr('id'));
        $.ajax({
            type: 'get',
            url: '/Home/getBaiDang',
            data: {
                TrangThai: $(this).attr('id')
            },
            success: function (data) {
                $.each(data.lstBaiDang, function (k, v) {
                    $('#frmDaiDang').append('<p> '+v.TieuDe+' <\p>');
                });
            }
        })
    });
</script>
