
@{
    ViewBag.Title = "returnUrl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="py-3" style="margin-top:11%">
    <div class="container">
        <div class="row" style="background-color:#fff; margin:1px; padding:1rem 3rem">
            <h2>@ViewBag.Message</h2>

        </div>
        
    </div>

</section>